@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
      margin-right: calc(-1 * (100vw - 100%));
}

body {
     font-family: 'Comfortaa', cursive;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

.wrapper {
    width: 1280px;
    margin: auto;
}

header {
    border-bottom: 5px solid orange;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
     min-height: 70px;
    padding: 0 20px;;
}

.wrapper {
    width: 1280px;
    margin: auto;
}

.fastSearch {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 25%;
    top: 2%;
}

#searchImg img:hover {
    color: orange;
}

#searchImg {
    width: 350px;
    display: flex;
    align-items: center;
    padding: 20px 12px;
    position: relative;

}
input:focus {
  box-shadow: 0 0 5px orange;
  border: 1px solid orange;
}

#searchImg input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 25px;
  outline: none;
  transition: all 0.30s ease-in-out;
  border: 1px solid #DDDDDD;
}

#searchImg img {
  color: black;
  position: absolute;
  cursor: pointer;
  top: 39%;
  right: 8%;
  transition: 1s;
}

.textContent {
    display: flex;
    align-items: center;
    gap: 10px;
}

#sectionWrapper {
    max-width: 1280px;
    margin: auto;
}

#content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.img {
  width: 380px;
  height: 214px;
  margin-top: 15px;
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  cursor: pointer;
}

.fa-camera {
   width: 32px;
   height: 32px;
}

.headerContent {
    display: flex;
    gap: 10px;
}

@media(max-width:1280px) {
  .wrapper {
    width: 100%;
  }
  .sectionWrapper {
    max-width: 100%;
  }
}

@media(max-width:768px) {
  #main {
    width: 95%;
  }

  .img {
    max-width: 100%;
  }

  #header {
    margin: 10px 0;
    padding: 20px;
    gap: 10px;
    justify-content: center;
  }

  #header h2 {
    padding: 5px 0;
  }
}

@media(max-width:480px) {
  #header h2 {
    text-align: center;
    font-size: 1.5rem;
  }

  #searchImg {
    width: 80%;
    margin: auto;
  }

  #searchImg input {
    font-size: .7rem;
  }
}